<div class="modal-header"
  style="background-color: #5784ba; color: #f7f6cf; filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));">
  <span class="modal-title h2" style="margin-left: 2%;">Comfirm Order</span>
</div>
<div class="modal-body d-flex flex-column justify-content-center align-items-center">
  <img class="pizza_img" [src]="pizzaObj.imageSrc" alt="pizza_image" />
  <div class="pizza_desc">
    {{
    pizzaObj.productName +
    pizzaObj.crustOpt +
    pizzaObj.size +
    pizzaObj.cheeseOpt
    }}
  </div>
</div>
<div class="modal-footer">
  <button class="button" (click)="selectedPath('Complete'); activeModal.dismiss('Cross click')">
    Complete
  </button>
</div>