<div class="container">
  <section class="main">
    <gojs-diagram
      #myDiagram
      [initDiagram]="initDiagram"
      [nodeDataArray]="diagramNodeData"
      [linkDataArray]="diagramLinkData"
      [divClassName]="diagramDivClassName"
      [modelData]="diagramModelData"
      [skipsDiagramUpdate]="skipsDiagramUpdate"
    >
    </gojs-diagram>
  </section>
  <aside class="sidebar">
    <div class="element_container">
      <img class="logo" src="/assets/img/Dino_Logo.png" />
    </div>
    <h1>MENU</h1>
    <div class="product">
      <img
        class="product_img"
        src="{{ imageSrc }}"
        style="margin-bottom: 2.5%"
      />
    </div>
    <div class="menuName">
      <p *ngIf="checkOnClick(); ngElse showMenu" >พิซซ่าหน้าอะไรเอ๋ย</p>
      <p #showMenu>{{productName}}{{crustOpt}}{{size}}{{cheeseOpt}}</p>
    </div>
    <div class="product_button" >
      <label
        *ngFor="let imgPizza of pizza"
        [ngClass]="{
            button_crust: selectedValue[0] != imgPizza.id,
            button_crust_focus: selectedValue[0] == imgPizza.id
            }"
        type="button"
      >
      <input
          type="radio"
          name="pizza"
          [(ngModel)]="selectedValue[0]"
          [value]="imgPizza.id"
          (click)="selectedPath(imgPizza.name); onClickMenuBt(imgPizza);"
        />
        {{ imgPizza.name }}
      </label>
    </div>
    <h1>เลือกขอบ</h1>
    <div class="product_button">
      <label
        *ngFor="let crustOpt of crustOpts"
        [ngClass]="{
        button_crust: selectedValue[1] != crustOpt.id,
        button_crust_focus: selectedValue[1] == crustOpt.id
        }"
        ><input
          type="radio"
          name="crust"
          [(ngModel)]="selectedValue[1]"
          [value]="crustOpt.id"
          (click)="selectedPath(crustOpt.opt); onClickCrust(crustOpt.opt);"
        />{{ crustOpt.opt }}</label
      >
    </div>
    <h1>เลือกขนาด</h1>
    <div class="product_button">
      <label
        *ngFor="let pizzaSize of pizzaSizes"
        [ngClass]="{
        size_button: selectedValue[3] != pizzaSize.id,
        size_button_focus: selectedValue[3] == pizzaSize.id
        }"
        ><input
          type="radio"
          name="size"
          [(ngModel)]="selectedValue[3]"
          [value]="pizzaSize.id"
          (click)="selectedPath(pizzaSize.name); onClickSize(pizzaSize.name);"
        /><img [src]="pizzaSize.src"
        /></label>
    </div>
    <h1>Topping</h1>
    <div class="product_button">
        <label
        *ngFor="let cheeseOpt of cheeseOpts"
        [ngClass]="{
        button_crust: selectedValue[2] != cheeseOpt.id,
        button_crust_focus: selectedValue[2] == cheeseOpt.id,
        button_crust_disable: checkPizza
        }"
        ><input
          type="radio"
          name="cheese"
          [(ngModel)]="selectedValue[2]"
          [value]="cheeseOpt.id"
          (click)="selectedPath(cheeseOpt.opt); onClickTopping(cheeseOpt.opt);"
        />{{ cheeseOpt.opt }}</label>
    </div>
      <button
      class="button"
      type="submit"
      style="
        background-color: #5784ba;
        margin: 2.5%;
        color: #f7f6cf;
      "
        (click)="clicked[2] ? [selectedPath('Confirm'), openModal()] : selectedPath('Confirm')"
      >
        Order Now!!
      </button>
    <div class="product_button">
      <button class="button" type="reset" (click)="selectedPath('Cancel'); onClickCancel('cancel');">
        Cancel
      </button>
    </div>
  </aside>
  <footer>
    <div class="stringArea">
      <h1>String Input</h1>
      <div class="inputStringArea">
        <p *ngFor="let inputString of inputStrings">{{inputString}}</p>
      </div>
    </div>
    <img src="/assets/img/Dinosor.png" />
  </footer>
</div>
