<div class="shop_container">
    <div class="element_container">
        <img class="logo" src="/assets/img/Dino_Logo.png">
    </div>
    <h1 style="text-align: center; font-family: tuaglom; font-size: 3em;">MENU</h1>
    <div class="product">
        <img class="product_img" src="/assets/img/Empty_.png" style="margin-bottom: 2.5%;">
    </div>
    <div class="product_button">
        <button mat-flat-button class="button">ชานมเย็น</button>
        <button mat-flat-button class="button">ชานมเผือก</button>
        <button mat-flat-button class="button">ชานมแคนตาลูป</button>
        <button mat-flat-button class="button">ชาเขียว</button>
        <button mat-flat-button class="button">โกโก้</button>
        <button mat-flat-button class="button">กาแฟ</button>
    </div>
    <h1 style="text-align: center; font-family: tuaglom; font-size: 3em;">Topping</h1>
    <div class="product_button">
        <button mat-flat-button class="button" style="height: 3vw;">Bubble</button>
        <button mat-flat-button class="button" style="height: 3vw;">No Bubble</button>
    </div>
    <h1 style="text-align: center; font-family: tuaglom; font-size: 3em;">Sweetness Level</h1>
    <div class="product">
        <img class="product_img" src="/assets/img/Sweetness_Level_5.png" style="width: 150px;
        min-width: 50px;
        max-width: 100%;">
    </div>
    <div class="sweet_button_container">
        <button class="sweet_button">-</button>
        <p style="text-align: center; font-family: tuaglom; font-size: 2em; margin-top: 7%;">100%</p>
        <button class="sweet_button">+</button>
    </div>
    <button mat-flat-button class="button" style="height: 3vw; min-height: 50; background-color: #F4CFE0; margin: 2.5%;">Order Now!!</button>
    <div class="product_button">
        <button mat-flat-button class="button" style="height: 3vw; min-height: 50;">Reset</button>
        <button mat-flat-button class="button" style="height: 3vw; min-height: 50;">Restart</button>
    </div>
</div>